html{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	margin: 0;
	background-color: #313338;
}
footer {
  text-align: center;
  padding: 2.5px;
  background-color: #1e1f22;
  color: white;
  position: fixed;
   bottom: 0px;
   width: 100%;
}

/* header {
  text-align: center;
  padding: 3px;
  background-color: DarkCyan;
  color: white;
}

*/ 

a{
  text-decoration:none;  
    color: white;
}

header {
  color:white;
  background-color: #333;
}

h3{
	color: #949ba4;
	text-align: center;
}
ul, nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1e1f22;
  text-align: center;

} 



li {
    float: right;
    text-align: center;


}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

/*li a:hover {
  background-color: #04AA6D;
} */ 

.klik:hover {
   background-color: #04AA6D; 
}


.active {
  background-color: #04AA6D;
}

 

.j {
 text-align: center;
 
}
h1, h2 {
	color:white;
	text-align: center;
}

h4{
	text-align: center;
	
}